.sidebar {
  position: fixed;
  width: 190px;
  background-color: #fff;
  border-right: 1px solid #d9d9d9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  top: 61px;
  left: 0;
  max-height: calc(100vh - 61px);
  overflow: auto;
  z-index: 1000;

}

.menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.menu-item {
  background: none;
  border: none;
  text-align: left;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: #393E46;
}

.menu-item.active {
  position: relative;
  background-color: rgba(168, 133, 216, 0.3);
  border-radius: 10px;
  color: #A885D8;
  font-weight: 700;
}

.menu-item.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 6px;
  height: 100%;
  background: #7b57c2; /* une teinte légèrement plus foncée */
  border-radius: 10px 0 0 10px;
}



.deconnexion {
  margin-top: 30px;
  text-align: center;
}

.logout-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;

  background: #e74c3c;
  color: #fff;
  padding: 6px 12px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.logout-btn i {
  font-size: 14px;
}

.logout-btn:hover {
  background: #c0392b;
  transform: translateY(-2px);
  box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
}

/* ✅ Responsive (sidebar cachée sur mobile et transformée en menu burger) */
@media (max-width: 768px) {
  .sidebar {
    width: 180px;
    padding: 0.5rem;
  }

  .menu-item {
    font-size: 0.9rem;
    padding: 0.5rem;
  }

  .logout-btn {
    font-size: 14px;
    padding: 10px 15px;
  }
}
