<!-- Sidebar -->
<aside class="sidebar" role="navigation" aria-label="Menu principal">
  <nav class="menu">
    <a routerLink="/admin/dashboard" routerLinkActive="active" class="menu-item" [routerLinkActiveOptions]="{ exact: true }">
      <i class="fa-solid fa-gauge-high"></i> Dashboard
    </a>
    <a routerLink="/admin/utilisateurList" routerLinkActive="active" class="menu-item">
      <i class="fa-solid fa-users"></i> Utilisateurs
    </a>
    <a routerLink="/admin/niveaux" routerLinkActive="active" class="menu-item">
      <i class="fa-solid fa-layer-group"></i> Contenu
    </a>
    <a routerLink="/admin/livreList" routerLinkActive="active" class="menu-item">
      <i class="fa-solid fa-book"></i> Livre
    </a>
    <a routerLink="/admin/quizList" routerLinkActive="active" class="menu-item">
      <i class="fa-solid fa-question-circle"></i> Quiz
    </a>
    <a routerLink="/admin/defiList" routerLinkActive="active" class="menu-item">
      <i class="fa-solid fa-flag"></i> Défis
    </a>
    <a routerLink="/admin/challengeList" routerLinkActive="active" class="menu-item">
      <i class="fa-solid fa-trophy"></i> Challenge
    </a>
    <a routerLink="/admin/exerciceList" routerLinkActive="active" class="menu-item">
      <i class="fa-solid fa-dumbbell"></i> Exercice
    </a>
    <a routerLink="/admin/recompenseList" routerLinkActive="active" class="menu-item">
      <i class="fa-solid fa-gift"></i> Recompense
    </a>
    <a routerLink="/admin/paramatresList" routerLinkActive="active" class="menu-item">
      <i class="fa-solid fa-sliders"></i> Parametre
    </a>
  </nav>



  <div class="deconnexion">
    <a routerLink="/login" class="menu-item">
      <i class="fa-solid fa-right-from-bracket"></i>
      <span>Déconnexion</span>
    </a>
  </div>


</aside>
