.admin-layout {
  display: flex;
  margin-top: 60px; /* Hauteur de la topbar */
}

.main-content {
  flex: 1;
  padding: 20px;
  margin-left: 190px; /* Largeur de la sidebar */
  transition: margin-left 0.3s ease;
}

.admin-layout.sidebar-collapsed .main-content {
  margin-left: 70px; /* Largeur de la sidebar réduite */
}

/* Responsive */
@media (max-width: 768px) {
  .main-content {
    margin-left: 180px; /* Largeur de la sidebar sur mobile */
  }
  
  .admin-layout.sidebar-collapsed .main-content {
    margin-left: 60px; /* Largeur de la sidebar réduite sur mobile */
  }
}