<header class="topbar">
  <div class="header-left">
    <div class="logo">
      <span class="logo-heart">
        <img src="/images/logo1.png" alt="Logo Edugo" class="logo-img" />
      </span>
    </div>
  </div>
  <div class="header-right">
    <!-- Icône de notification -->
    <a class="notification-icon" routerLink="/notifications" style="cursor: pointer;">
      <i class="fa-solid fa-bell"></i>
      <span class="notification-badge"></span>
    </a>

    <!-- Icône / nom utilisateur -->
    <a class="user-info" routerLink="/parametres" style="cursor: pointer;">
      <div class="user-circle"></div>
      <span class="user-name">Aïssatou</span>
    </a>
  </div>
</header>
